<mat-form-field appearance="fill">
  <mat-label>Select area</mat-label>
  <mat-select
    [(value)]="selectedPlaces"
    (selectionChange)="search($event.value)"
  >
    <mat-option *ngFor="let place of places" [value]="place">
      {{ place }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-card *ngIf="weather">
  <mat-card-header>
    <mat-card-title>
      {{ weather.name }},
      {{ weather.sys.country }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ weather.weather[0].main }}
    </mat-card-subtitle>
  </mat-card-header>

  <img
    src="https://openweathermap.org/img/wn/{{ weather.weather[0].icon }}@2x.png"
    [alt]="weather.weather[0].main"
  />
  <mat-card-content>
    <h1>{{ weather.main.temp | number : "1.0-0" }} &#8451;</h1>
    <div class="weather-detail">
      <span class="param-name">Pressure: </span>
      <span class="param-value">{{ weather.main.pressure }} hPa</span>
    </div>
    <div class="weather-detail">
      <span class="param-name">Humidity: </span>
      <span class="param-value">{{ weather.main.humidity }} %</span>
    </div>
    <div class="weather-detail">
      <span class="param-name">Wind:</span>
      <span class="param-value">{{ weather.wind.speed }} m/s</span>
    </div>
  </mat-card-content>
</mat-card>
