:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 25px;
}

mat-icon {
  cursor: pointer;
}

mat-card {
  margin: 20px;
  width: 250px;

  mat-card-content {
    .weather-detail {
      display: flex;
      justify-content: space-between;

      .param-name {
        font-weight: bold;
        text-transform: uppercase;
      }

      .param-value {
        font-size: 1.1rem;
      }
    }
  }
}

h1 {
  text-align: center;
  font-size: 2.5em;
}
